projects/n8n_workflows/workflow_backups/Gemini_for_security_CAgo5rUtdWqqWmcs.json
{
  "name": "Gemini_for_security",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -5
      ],
      "id": "0c53adcd-3eab-4592-a785-e72a665aa511",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/security/alerts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "id": "a9471d46-287d-47f4-8b9a-8f47c38e9b8f",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "SwX6WKa4Jiqn10uw",
          "name": "Graph_accse"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        0
      ],
      "id": "187a3c22-0873-4574-921c-809372caea6c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        415
      ],
      "id": "e1377435-0da5-4848-989b-43e455d2f6d6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "WdOCetfAcE7xCi4x",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1000,
        220
      ],
      "id": "d765799a-3b31-41b6-b2f0-eaee512af139",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "LprBiyyLSqKEHJGl",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"analysis_summary\": \"What was found and the result (e.g., threat or false positive).\",\n  \"final_status\": \"Final outcome (e.g., Resolved, Escalated).\",\n  \"recommended_action\": \"Next steps or no action needed.\"\n}",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1460,
        217.5
      ],
      "id": "4557c7ae-974b-40b0-b4a2-a078425b70c2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the security alert data provided below. Pay close attention to the `title`, `severity`, `status`, and especially the `comments` to understand the final outcome.\n\nAlert Data:\nID: {{ $json.id }}\nAzure Tenant ID: {{ $json.azureTenantId }}\nRisk Score: {{ $json.riskScore }}\nSeverity: {{ $json.severity }}\nCategory: {{ $json.category }}\nTitle: {{ $json.title }}\nStatus: {{ $json.status }}\nDescription: {{ $json.description }}\nComments: {{ $json.comments }}\nCreated Date: {{ $json.createdDateTime }}\nEvent Date: {{ $json.eventDateTime }}\nLast Modified: {{ $json.lastModifiedDateTime }}\nVendor: {{ $json.vendorInformation.vendor }}\nProvider: {{ $json.vendorInformation.provider }}\nRecommended Actions: {{ $json.recommendedActions }}\nTags: {{ $json.tags }}\nSender: {{ $json.sender }}\nRecipients: {{ $json.recipient }}\n\n{{\n/* Build the userStates block for this alert */\n($json.userStates || [])\n  .map((u, i) => [\n    `User State ${i + 1}:`,\n    `  AAD User ID: ${u.aadUserId}`,\n    `  User Principal Name: ${u.userPrincipalName}`,\n    `  Email Role: ${u.emailRole}`,\n    `  Logon Date Time: ${u.logonDateTime}`,\n    `  Logon IP: ${u.logonIp}`,\n    `  Logon Location: ${u.logonLocation}`,\n    `  Risk Score: ${u.riskScore}`,\n    `  User Account Type: ${u.userAccountType}`,\n    `  On-Prem SID: ${u.onPremisesSecurityIdentifier}`\n  ].join('\\n'))\n  .join('\\n\\n') || 'No userStates found.'\n}}\n\n\n\nRespond **only** with valid JSON in exactly this structure:\n```json\n{\n  \"analysis_summary\": \"\",\n  \"final_status\": \"\",\n  \"recommended_action\": \"\"\n}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an expert Tier 1 Security Analyst. Your job is to analyze security alert data and provide a concise, actionable summary for the team. You must determine the alert's nature, its final status, and recommend the next logical step. Your output must always be in the requested JSON format.\n\nTake deep breaths, understand the workflow, and then start.\n\n### Tool Arsenal: A Strategic Guide\n\nTo effectively investigate alerts, you must use your tools in a precise, two-step workflow: **1. Discovery** and **2. Extraction**. Each tool has a specific role in this process.\n\n**Step 1: Discovery Phase**\n\n**Tool: `SearXNG_http` (The Reconnaissance Tool)**\n\n* **Purpose**: Use this tool for broad discovery and information gathering. It is your primary tool for exploring the open web when you **do not have a specific, known URL**. Think of it as your global search engine for finding new intelligence.\n* **When to Use**:\n    * You need to understand a new threat or CVE (e.g., `\"details on CVE-2025-12345\"`).\n    * You need to research the reputation of an IP address, domain, or file hash (e.g., `\"reputation of IP 198.51.100.2\"`, `\"analysis of hash 5d41402abc4b2a76b9719d911017c592\"`).\n    * You need to find articles, blog posts, or threat intelligence reports on a topic (e.g., `\"FIN7 TTPs 2024\"`).\n* **Required Input**: A search query string (e.g., `\"What is the malware family associated with this hash...\"`).\n* **Expected Output**: A list of potentially relevant URLs.\n\n\n**Step 2: Extraction Phase**\n\n**Tool: `firecrawl-tool` (The Extraction Tool)**\n\n* **Purpose**: Use this tool for targeted content extraction from a **single, known URL**. It is used *after* the discovery phase to read the contents of a specific page you have identified.\n* **When to Use**:\n    * After `SearXNG_http` returns a promising URL to a security advisory or threat analysis blog.\n    * An alert or log provides a direct URL that needs to be analyzed (e.g., scraping a known phishing page).\n* **Required Input**: A single, complete URL (e.g., `\"https://securityblog.example.com/threat-analysis-of-cve-2025-12345\"`).\n* **Expected Output**: The full text content of that specific webpage.\n\n\n### The Golden Rule & Mandatory Workflow\n\nYou must follow this sequence. Misusing these tools will lead to errors.\n\n1.  **Start with a Question**: What information do I need to find?\n2.  **Discover with `SearXNG_http`**: Use your question to form a search query and execute it to get a list of URLs.\n3.  **Analyze & Select**: Review the URLs from the search results to identify the most promising source.\n4.  **Extract with `firecrawl-tool`**: Take the single best URL and use `firecrawl-tool` to read its content.\n\n**CRUCIAL**: Never use `firecrawl-tool` with a search query. Never use `SearXNG_http` if you already have the exact URL you need to read.\nCRUCIAL: Do not send data before validating it through quick research. You are dealing with critical information that must be handled with care."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "75a8c812-303c-4baa-b348-760e1a51fb57",
      "name": "security_analyst"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firecrawl.rohi.life/v1/scrape",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('JSON', ``, 'json') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1160,
        240
      ],
      "id": "87083adc-7ce0-407c-a14e-60b7dab9cbf6",
      "name": "firecrawl-tool",
      "credentials": {
        "httpBearerAuth": {
          "id": "eFwntbjfFyKCMtKV",
          "name": "Firecrawl"
        }
      }
    },
    {
      "parameters": {
        "url": "http://searxng:8080/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Name', ``, 'string') }}",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1340,
        215
      ],
      "id": "ef8a54d7-8a1a-4687-9308-4a1906fd7cc8",
      "name": "SearXNG_http"
    },
    {
      "parameters": {
        "fieldToSplitOut": "value",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "bf21b1d6-1d04-4a23-90ba-c20d9463207b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1020,
        -160
      ],
      "id": "3e6f51c8-3125-4fc8-85b6-522539890c21",
      "name": "Aggregate"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "security_analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "security_analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "security_analyst",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "security_analyst",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "security_analyst": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firecrawl-tool": {
      "ai_tool": [
        [
          {
            "node": "security_analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG_http": {
      "ai_tool": [
        [
          {
            "node": "security_analyst",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "createdAt": "2025-07-12T12:19:50.386Z",
  "updatedAt": "2025-07-14T06:37:18.973Z"
}