projects/n8n_workflows/workflow_backups/notion_recurring _tasks_JtxA8ngj0xKivwCU.json
{
  "name": "notion_recurring _tasks",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        160
      ],
      "id": "4c5772c3-91e8-42c2-ba93-cc53b8b54a7b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "b2d8c567-7fac-4fb1-86ed-a73e224b6aa0",
          "mode": "list",
          "cachedResultName": "Tasks DataBase",
          "cachedResultUrl": "https://www.notion.so/b2d8c5677fac4fb186eda73e224b6aa0"
        },
        "limit": 20,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Recur Interval|number",
              "condition": "is_not_empty"
            },
            {
              "key": "Kanban - Status|status",
              "condition": "equals",
              "statusValue": "=Done"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "53968ade-210b-4f46-a41d-7aa7f8b880dd",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "Vpza7HmATHumPcuq",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        340,
        0
      ],
      "id": "524093f2-ec23-4fb3-8290-4dd6f48f1334",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.task_id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Due|date",
              "date": "={{ $json.next_due }}",
              "timezone": "Asia/Jerusalem"
            },
            {
              "key": "Kanban - Status|status",
              "statusValue": "To Do"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1380,
        200
      ],
      "id": "384e82f0-eba7-4b29-9e94-103c077b7feb",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "Vpza7HmATHumPcuq",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a7210c89-97b8-4f52-a3d8-06b87291b597",
              "name": "task_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e7346781-1dc3-4e9c-bb3f-c18a35570992",
              "name": "next_due",
              "value": "={{ $json.property_next_due.start }}",
              "type": "string"
            },
            {
              "id": "87a157e2-cb97-4f7c-a98f-9e2fc025119d",
              "name": "property_kanban_state",
              "value": "={{ $json.property_kanban_state }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        80
      ],
      "id": "7f99de08-ce36-42c4-a9dd-afed9e636b3e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 22 * * 0-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -300,
        -60
      ],
      "id": "c08f3767-4131-411f-9f37-4da257b803f1",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "createdAt": "2025-03-30T06:09:32.007Z",
  "updatedAt": "2025-06-19T11:38:53.829Z"
}